body {
  font-family: sans-serif;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  /* min-height: 100vh;
  max-height: 100%; */
  height: 95vh;
}
* {
  margin: 0;
  padding: 0;
}
#root {
  display: grid;
  min-height: 95vh;
  width: 100%;
  place-items: center;
  margin-top: 20px;
  margin-bottom: 0px;
  row-gap: 20px;
  grid-template-areas:
    "title"
    "counter"
    "search"
    "lista";
  grid-template-rows: repeat(3, min-content) auto;
}
@media screen and (min-width: 800px) {
  #root {
    margin-top: 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: 13% 10% 10% 67%;
    grid-template-areas: "title  title" "create counter" "create search" "create lista";
    row-gap: 0px;
    min-height: 95vh;
  }
}
@media screen and (max-height: 696px) {
  #root {
    padding-bottom: 20px;
  }
}
